{% extends 'base.html.twig' %}

{% block body %}
    <h1>Integrations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libele</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for integration in integrations %}
            <tr>
                <td><a href="{{ path('integration_show', { 'id': integration.id }) }}">{{ integration.id }}</a></td>
                <td>{{ integration.code }}</td>
                <td>{{ integration.libele }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('integration_show', { 'id': integration.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('integration_edit', { 'id': integration.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('integration_new') }}">Create a new integration</a>
        </li>
    </ul>
{% endblock %}
