<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-file"></i> <span><b> DEMANDES PAR</b></span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a class="panel-title" href="{{path('demande_parApp')}}">Application </a></li>
        <li><a class="panel-title" href="{{path('demande_parObj')}}">Objet / type </a></li>
        <li><a class="panel-title" href="{{path('demande_parUrg')}}">Niveau d'urgence </a></li>
        <li><a class="panel-title" href="#">Traiteur </a></li>
        <li><a class="panel-title" href="{{path('demande_index')}}">Voir tout </a></li>
    </ul>
</li>

<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-package"></i> <span><b> SUIVI</b></span> <span class="menu-arrow"></span> </a>
    <ul class="list-unstyled">
        <li><a class="panel-title" href="{{path('demande_Traite')}}">Demandes traitées</a></li>
        <li><a class="panel-title" href="{{path('demande_EnCours')}}">Demandes en cours</a></li>
        <li><a class="panel-title" href="{{path('demande_nonTraite')}}">Demandes non traitées </a></li>
    </ul>
</li>

<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-archive"></i> <span><b> GESTION</b></span> <span class="menu-arrow"></span> </a>
    <ul class="list-unstyled">
        <li><a class="panel-title" href="{{path('application_index')}}">Applications</a></li>
        <li><a class="panel-title" href="{{path('module_index')}}">Module</a></li>
        <li><a class="panel-title" href="{{path('typedemande_index')}}">Types de demandes</a></li>
        <li><a class="panel-title" href="{{path('urgence_index')}}">Niveau d'urgence</a></li>
        <li><a class="panel-title" href="{{path('utilisateur_index')}}">Utilisateurs</a></li>
    </ul>
</li>
</ul>