<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-file"></i> <span><b> Mes demandes </b></span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a class="" href="{{path('demande_new')}}">Créer une demande </a></li>
        <li><a class="" href="{{path('demande_enPrepa')}}">Brouillon </a></li>
        <li><a class="" href="{{path('demande_index')}}">Mes demandes </a></li>
    </ul>
</li>

<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-bag"></i> <span><b> Suivi </b></span> <span class="menu-arrow"></span> </a>
    <ul class="list-unstyled">
        <li><a class="" href="{{path('enCours')}}">Mes demandes en cours</a></li>
        <li><a class="" href="{{path('cloture')}}">Mes demandes clôturées</a></li>
        <li><a class="" href="{{path('abandon')}}">Mes demandes abandonnées</a></li>
        <li><a class="" href="{{path('rejete')}}">Mes demandes rejetées</a></li>
    </ul>
</li>

<li class="has_sub">
    <a style="color: white" href="{{path('demande_recherche')}}" class="waves-effect"><i class="ti-archive"></i><span><b> Rechercher </b></span><span class=""></span> </a>
</li>
</ul>