<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-file"></i> <span><b> Mes demandes </b></span> <span class="menu-arrow"></span> </a>
    <ul class="list-unstyled">
        <li><a class="" href="{{path('demande_parApp', {'id': 0})}}">Par application </a></li>
        <li><a class="" href="{{path('demande_parObj')}}">Par objet / type </a></li>
        <li><a class="" href="{{path('demande_parUrg')}}">Par niveau d'urgence </a></li>
        <li><a class="" href="{{path('demande_index')}}">Voir toutes les demandes </a></li>
    </ul>
</li>

<li class="has_sub">
    <a style="color: white" href="javascript:void(0);" class="waves-effect"><i class="ti-stats-up"></i> <span><b> Suivi</b></span> <span class="menu-arrow"></span> </a>
    <ul class="list-unstyled">
        <li><a class="" href="{{path('demande_nonTraite')}}">Demandes non traitées </a></li>
        <li><a class="" href="{{path('demande_EnCours')}}">Demandes en cours</a></li>
        <li><a class="" href="{{path('demande_Traite')}}">Demandes traitées</a></li>
        <li><a class="" href="{{path('demande_abandon')}}">Demandes Abandonnées</a></li>
        <li><a class="" href="{{path('demande_rejete')}}">Demandes rejetées</a></li>
    </ul>
</li>
<li class="has_sub">
    <a style="color: white" href="{{path('demande_recherche')}}" class="waves-effect"><i class="ti-search"></i><span><b> Rechercher </b></span><span class=""></span> </a>
</li>
</ul>