{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="col-md-8 col-md-offset-1">
                    <h3><b>Gestion des modules </b></h3>
                </header>
                <div class="col-md-12">
                    <a class="btn btn-primary btn-custom waves-effect waves-light pull-right" href="{{path('application_new')}}">Ajouter une application</a>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel table-responsive panel-inverse panel-purple table-bordered table-striped" id="datatable">
                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Actions</th>
                                    <th class="" style="color: blue; font-weight: unset;">Nom</th>
                                    <th class="" style="color: blue; font-weight: unset;">Description</th>
                                    <th class="" style="color: blue; font-weight: unset;">Application</th>
                                    <th class="" style="color: blue; font-weight: unset;">Actif</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for module in modules %}
                                    <tr>
                                        <td>
                                            <div class="input-group-btn">
                                                <button  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                                    <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a <a href="{{ path('module_show', { 'id': module.id }) }}"><i class="fa fa-eye"></i> Voir le module</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('module_edit', { 'id': module.id }) }}"><i class="fa fa-edit"></i> Editer le module</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{ module.nom }}</td>
                                        <td>{{ module.description }}</td>
                                        <td>{{ module.application }}</td>
                                        <td>{% if module.actif %}Oui{% else %}Non{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script>
        </script>
    </div>
{% endblock %}
