{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste des niveaux d'urgence </b></h3>
                    <a class="btn btn-primary btn-custom waves-effect waves-light pull-right" href="{{path('urgence_new')}}">Ajouter un niveau</a>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel panel-inverse panel-custom table-bordered table-striped datatable-responsive" id="datatable">
                            <thead class="panel-heading">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Actions</th>
                                    <th class="" style="color: blue; font-weight: unset;">Nom du type de l'urgence</th>
                                    <th class="" style="color: blue; font-weight: unset;">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for urgence in urgences %}
                                    <tr>
                                        <td>
                                            <div class="input-group-btn">
                                                <button  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                                    <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a <a href="{{ path('urgence_show', { 'id': urgence.id }) }}"><i class="fa fa-eye"></i> Voir le niveau</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('urgence_edit', { 'id': urgence.id }) }}"><i class="fa fa-edit"></i> Editer le niveau</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{ urgence.nom }}</td>
                                        <td>{{ urgence.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
