{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-border panel-custom" style="background: #ebeff2">
                <header class="panel-heading">
                    <h2>Modification d'un utilisateur</h2>
                </header>
                {% if app.user.username == utilisateur.username %}
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="row">
                            <div class="col-md-6">   
                                <div class="form-group">
                                    {{ form_label(edit_form.nom) }}
                                    {{ form_widget(edit_form.nom,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.sexe) }}
                                    {{ form_widget(edit_form.sexe,{'attr':{'class':''}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.email) }}
                                    {{ form_widget(edit_form.email,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.telephone) }}
                                    {{ form_widget(edit_form.telephone,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.cni) }}
                                    {{ form_widget(edit_form.cni,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.adresse) }}
                                    {{ form_widget(edit_form.adresse,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.username) }}
                                    {{ form_widget(edit_form.username,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.entreprise, "Entreprise de l'utilisateur") }}
                                    {{ form_widget(edit_form.entreprise,{'attr':{'class':'form-control', 'style': 'text-transform: uppercase'}}) }}
                                </div>
                            </div>
                        </div>
                        <table class="pull-right">
                            <tr>
                                <td>
                                    <input class="btn btn-custom btn-primary" type="submit" value="Modifier" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                {% if  app.user.level == 'Administrateur' %}
                                    <td>
                                        <a class="btn btn-custom btn-default" href="{{ path('utilisateur_index') }}">
                                            Retour à la liste
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a class="btn btn-custom btn-default" href="{{ path('homepage') }}">
                                            Retour à l'accueil
                                        </a>
                                    </td>
                                {% endif %}
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        {{ form_end(edit_form) }}

                    </div>
                {% else%}
                    <div class="panel-body">
                        {{ form_start(edit_form) }}

                        <div class="row">
                            <div class="col-md-12">  
                                <div class="form-group">
                                    {{ form_label(edit_form.level) }}
                                    {{ form_widget(edit_form.level,{'attr':{'class':'form-control btn dropdown-toggle btn-default btn-custom'}}) }}
                                </div>
                            </div>
                        </div>
                        <table class="pull-right">
                            <tr>
                                <td>
                                    <input class="btn btn-custom btn-primary" type="submit" value="Modifier" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a class="btn btn-custom btn-default" href="{{ path('utilisateur_index') }}">Retout à la liste
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        {{ form_end(edit_form) }}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    <script>
                document.getElementById('userbundle_utilisateur_telephone').type = 'number';

                document.getElementById('userbundle_utilisateur_sexe_1').style.marginLeft = '40px';

                document.getElementById('userbundle_utilisateur_sexe_0').style.marginRight = '8px';
                document.getElementById('userbundle_utilisateur_sexe_0').style.cursor = 'pointer';

                document.getElementById('userbundle_utilisateur_sexe_1').style.marginRight = '8px';
                document.getElementById('userbundle_utilisateur_sexe_1').style.cursor = 'pointer';
            </script>
{% endblock %}
