{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste des types de demandes </b></h3>
                    <a class="btn btn-primary btn-custom waves-effect waves-light pull-right" href="{{path('typedemande_new')}}">Ajouter un type</a>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel panel-inverse panel-custom table-bordered table-striped datatable-responsive" id="datatable">
                            <thead class="panel-heading">
                            <th class="">Actions</th>
                            <th class="">Id</th>
                            <th class="">Nom</th>
                            <th class="">Description du type de demande</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for typeDemande in typeDemandes %}
                                    <tr>
                                        <td>
                                            <div class="input-group-btn">
                                                <button  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                                    <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a <a href="{{ path('typedemande_show', { 'id': typeDemande.id }) }}"><i class="fa fa-eye"></i> Voir le type</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('typedemande_edit', { 'id': typeDemande.id }) }}"><i class="fa fa-edit"></i> Editer le type</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><a href="{{ path('typedemande_show', { 'id': typeDemande.id }) }}">{{ typeDemande.id }}</a></td>
                                        <td>{{ typeDemande.nom }}</td>
                                        <td>{{ typeDemande.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script type = "text/javascript" >
            
        </script>
    </div>
{% endblock %}
