{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12 col-md-offset-1 col-md-11 col-sm-12 col-xs-12">
        <div class="panel panel-border panel-custom" style="background: #ebeff2">
            <header class="panel-heading">
                <h1 class="panel-title">Détail sur une application</h1>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ application.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ application.nom }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ application.categorie }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ application.description }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-custom btn-primary btn-rounded waves-effect waves-lightr" href="{{ path('application_index') }}">Retouner à la liste</a>
    </div>
    {#
<ul>
<li>
    <a href="{{ path('application_index') }}">Back to the list</a>
</li>
<li>
    <a href="{{ path('application_edit', { 'id': application.id }) }}">Edit</a>
</li>
<li>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
</li>
</ul>
    #}
{% endblock %}
