{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <br>
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste de toutes {{texte}} abandonnées</b></h3>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel panel-inverse panel-purple table-bordered table-striped" id="datatable">
                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                                <tr>
                                    <th class="">Détail</th>
                                    <th class="">Tickect</th>
                                    <th class="">Date envoie</th>
                                    <th class="">Entreprise</th>
                                    <th class="">Objet</th>
                                    <th class="">Type de demande</th>
                                    <th class="">Niveau d'urgence</th>
                                    <th class="">Application concernée</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for demande in demandes %}
                                    <tr>
                                        <td class="">
                                            <a class="text-purple" href="{{ path('demande_show', { 'id': demande.id }) }}"><i class="fa fa-list"></i> Détails</a>
                                        </td>
                                        <td class="text-custom"><b>GDUT#{{ demande.id}}</b></td>
                                        <td>{{ demande.dateEnvoie | date('D, d-M-Y') }}</td>
                                        <td>{{ demande.user.entreprise }}</td>
                                        <td>{{ demande.libele }}</td>
                                        <td>{{ demande.type }}</td>
                                        <td>{{ demande.niveauUrgence }}</td>
                                        <td>{{ demande.application }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if creation is defined %}
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <center>
                                                <img src="{{asset('images/good.jpg')}}" style="height: 15%; width: 15%">
                                                <br>
                                                <h3 class="text-success">Demande envoyé avec succès.</h3>
                                                Le code de votre demande est: <b class="alert-info">GDUT#{{demandes[0].id}}</b>
                                                <br>
                                                Un mail contenant les informations sur la demande a été envoyé à <a class="alert-link">{{demandes[0].user.email}}</a>
                                            </center>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{path('demande_new')}}"><button type="button" class="pull-left btn btn-custom btn-purple">Envoyer une autre demande</button></a>
                                            <button type="button" class="btn btn-custom btn-primary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <script>
            $('#exampleModal').modal('show');
        </script>
    </div>
{% endblock %}
{# empty Twig template #}
