{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <br>
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste de toutes {{texte}} en cours de traitement</b></h3>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel panel-inverse panel-purple table-bordered table-striped" id="datatable">
                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Ticket</th>
                                    <th class="" style="color: blue; font-weight: unset;">Créé le</th>
                                    <th class="" style="color: blue; font-weight: unset;">Client</th>
                                    <th class="" style="color: blue; font-weight: unset;">Objet</th>
                                    <th class="" style="color: blue; font-weight: unset;">Type de demande</th>
                                    <th class="" style="color: blue; font-weight: unset;">Niveau d'urgence</th>
                                    <th class="" style="color: blue; font-weight: unset;">Application concernée</th>
                                    <th class="" style="color: blue; font-weight: unset;">Affecté à</th>
                                        {% if app.user.level.rightToken != "ROLE_DEMANDEUR" %}
                                        <th class="" style="color: blue; font-weight: unset;">
                                            Terminé ?
                                        </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for demande in demandes %}
                                    <tr>
                                        <td class="">
                                            <a class="text-purple" href="{{ path('demande_show', { 'id': demande.id }) }}"><b>GDUT#{{ demande.id}}</b></a>
                                        </td>
                                        <td>{{ demande.dateEnvoie | date('d-m-Y') }}</td>
                                        <td>{{ demande.user.entreprise }}</td>
                                        <td>{{ demande.libele }}</td>
                                        <td>{{ demande.type }}</td>
                                        <td>{{ demande.niveauUrgence }}</td>
                                        <td>{{ demande.application }}</td>
                                        <td>RAS</td>
                                        {% if app.user.level.rightToken != "ROLE_DEMANDEUR"%}
                                            <td class="">
                                                <a href="#fin-modal" class="btn btn-primary pull-right btn-custom waves-effect waves-light" data-animation="slide" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Terminer</a>
                                                <div id="fin-modal" class="modal-demo">
                                                    <button type="button" class="close" onclick="Custombox.close();">
                                                        <span>×</span><span class="sr-only">Close</span>
                                                    </button>
                                                    <div class="panel panel-custom">
                                                        <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Confirmation de la fin du traitement d'une demande</h4>
                                                        <div class="" style="padding: 2%; width: 100%">
                                                            <h1 class="panel-title"><b>Confirmer la fin du traitement de la demande ?</b></h1>
                                                            <br>
                                                            <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de <b>la fin du traitement</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                                                            <hr>
                                                            <a class="btn btn-custom btn-primary pull-left" href="{{path('demande_finir', {'id': demande.id})}}">Valider</a>
                                                            <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if creation is defined %}
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <center>
                                                <img src="{{asset('images/good.jpg')}}" style="height: 15%; width: 15%">
                                                <br>
                                                <h3 class="text-success">Demande envoyé avec succès.</h3>
                                                Le code de votre demande est: <b class="alert-info">GDUT#{{demandes[0].id}}</b>
                                                <br>
                                                Un mail contenant les informations sur la demande a été envoyé à <a class="alert-link">{{demandes[0].user.email}}</a>
                                            </center>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{path('demande_new')}}"><button type="button" class="pull-left btn btn-custom btn-purple">Envoyer une autre demande</button></a>
                                            <button type="button" class="btn btn-custom btn-primary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <script>

            $('#exampleModal').modal('show');
        </script>
    </div>
{% endblock %}
{# empty Twig template #}
