{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <center>{{ message }}</center>
                </div>
            {% endfor %}
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b> Liste des demandes en création </b></h3>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel panel-inverse panel-custom table-bordered table-striped datatable-responsive" id="datatable">
                            <thead class="panel-heading">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Actions</th>
                                    <th class="" style="color: blue; font-weight: unset;">Crée le</th>
                                    <th class="" style="color: blue; font-weight: unset;">Libele</th>
                                    <th class="" style="color: blue; font-weight: unset;">Type de demande</th>
                                    <th class="" style="color: blue; font-weight: unset;">Niveau d'urgence</th>
                                    <th class="" style="color: blue; font-weight: unset;">Application concernée</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for demande in demandes %}
                                    <tr>
                                        <td>
                                            <div class="input-group-btn">
                                                <button  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                                    <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a <a href="{{ path('demande_edit', { 'id': demande.id }) }}"><i class="fa fa-edit"></i> Modifier la demande</a>
                                                            <a <a href="{{ path('demande_edit', { 'id': demande.id }) }}"><i class="fa fa-trash"></i> Supprimer la demande</a>
                                                                </li>
                                                                </ul>
                                                                </div>
                                                                </td>
                                                                <td>{{ demande.dateEnvoie | date('D, d-M-Y') }}</td>
                                                                <td>{{ demande.libele }}</td>
                                                                <td>{{ demande.type }}</td>
                                                                <td>{{ demande.niveauUrgence }}</td>
                                                                <td>{{ demande.application }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                            </table>
                                                            </div>
                                                            </div>
                                                            </section>
                                                            </div>
                                                            </div>
                                                        {% endblock %}
