{% extends 'base.html.twig' %}
{% block body %}
    <h3 class=" text-center" style="color: white; background: #7e57c2;margin-bottom: 5%"><b>Rechercher une demande</b></h3>
    <div class="col-md-10 col-md-offset-1">
        <form action="{{path('demande_recherche')}}" method="POST">
            <div class="input-group">
                <span class="input-group-addon text-bold text-purple btn btn-purple" id="sizing-addon1"><b>GDUT#</b></span>
                <input name="recherche" type="text" class="form-control" placeholder="Entrer le numéro juste après la clé GDUT#." aria-describedby="basic-addon2">
                <span class="input-group-addon btn btn-purple" id="basic-addon2"><span class="glyphicon glyphicon-search"></span> <button type="submit" class="btn-purple">RECHERCHER</button></span>
            </div>
        </form>
    </div>
    {% if search is defined %}
        <h3 style="margin-top: 12%; color: white; background: rgba(12, 64, 6, 0.69);" class=" text-center"><b>RESULTATS TROUVES</b></h3>
        <div class="col-md-12" style="margin-bottom: 8%; margin-left: 10px">
            <table  class="records_list table table-hover panel panel-inverse panel-purple table-bordered table-striped" id="datatable">
                <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                    <tr>
                        <th class="" style="color: blue; font-weight: unset;">Ticket</th>
                        <th class="" style="color: blue; font-weight: unset;">Créé le</th>
                        <th class="" style="color: blue; font-weight: unset;">Entreprise</th>
                        <th class="" style="color: blue; font-weight: unset;">Objet</th>
                        <th class="" style="color: blue; font-weight: unset;">Type de demande</th>
                        <th class="" style="color: blue; font-weight: unset;">Niveau d'urgence</th>
                        <th class="" style="color: blue; font-weight: unset;">Application concernée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demande in demandes %}
                        <tr>
                            <td class="">
                                <a class="text-purple" href="{{ path('demande_show', { 'id': demande.id }) }}"><b class="btn btn-custom btn-purple">GDUT#{{ demande.id}}</b></a>
                            </td>
                            <td>{{ demande.dateEnvoie | date('d-m-Y') }}</td>
                            <td>{{ demande.user.entreprise }}</td>
                            <td>{{ demande.libele }}</td>
                            <td>{{ demande.type }}</td>
                            <td>{{ demande.niveauUrgence }}</td>
                            <td>{{ demande.application }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                $(document).ready(function () {
                    $('#datatable-responsive').DataTable();
                    TableManageButtons.init();
                });
            </script>
        </div>
    {% endif%}
{% endblock body %}