{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-border panel-custom" style="background: #ebeff2">
            <header class="panel-heading">
                <h1 class="panel-title">Détail sur la demande: <b class="btn btn-purple">GDUT#{{ demande.id }}</b></h1>
            </header>
        </div>
        <table class=" table table-hover table-striped panel panel-border" style="font-size: 16px;">
            <tbody>
                <tr>
                    <td>Etat</td>
                    <td>
                        {% if demande.traitement == '1' %}
                            <label class="label label-success">Traitement terminé</label>
                        {% elseif demande.traitement == '2' %}
                            <label class="label label-warning">En cours de traitement</label>
                        {% elseif demande.traitement == '0'%}
                            <label class="label label-danger">Traitement non commencé</label>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Client</td>
                    <td>{{ demande.user.entreprise }}</td>
                </tr>
                <tr>
                    <td>Demande créé le</td>
                    <td>{{ demande.dateEnvoie | date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Libele</td>
                    <td>{{ demande.libele }}</td>
                </tr>
                <tr>
                    <td>Type de demande</td>
                    <td>{{ demande.type }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ demande.description }}</td>
                </tr>
                <tr>
                    <td>Application concernée</td>
                    <td>{{ demande.application }}</td>
                </tr>
                <tr>
                    <td>Module de l'application</td>
                    <td>{{ demande.module }}</td>
                </tr>
                <tr>
                    <td>Niveau d'urgence</td>
                    <td>{{ demande.niveauUrgence }}</td>
                </tr>
                <tr>
                    <td>Personnes supplementaires</td>
                    <td>{{ demande.personnesSupplementaires }}</td>
                </tr>
                <tr>
                    <td>Fichier joint</td>
                    <td>
                        {% if demande.fichier != '' %}
                            <a target="blank" href="{{asset('Uploads/Fichier/'~demande.fichier)}}"><i class="fa fa-download"> </i> Télécharger</a></span>
                        {% else %}
                            Aucun
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if (app.user.level.rightToken() != "ROLE_DEMANDEUR") and (demande.traitement != 1) %}
            <div class=" panel panel-border panel-custom" style="background: #ebeff2">
                <header class="panel-heading">
                    <h1 class="panel-title">Options de Traitement de la demande</h1>
                </header>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
                    <a href="#rejet-modal" class="btn btn-primary btn-custom waves-effect waves-light" data-animation="slidetogether" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Rejéter la demande</a>
                    <a href="#planif-modal" class="btn btn-inverse col-md-offset-2 btn-custom waves-effect waves-light" data-animation="push" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Planifier la demande</a>
                    <a href="#projet-modal" class="btn btn-purple col-md-offset-2 btn-custom waves-effect waves-light" data-animation="door" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Associer à un projet</a>
                    <a href="#abandon-modal" class="btn btn-danger pull-right btn-custom waves-effect waves-light" data-animation="slide" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Abandonner</a>
                </div>
                <div id="rejet-modal" class="modal-demo" style="font-family: 15px;">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>×</span><span class="sr-only">Close</span>
                    </button>
                    <div class="panel panel-custom">
                        <h4 style="background: blueviolet" class="custom-modal-title panel-title text-center">Formulaire du rejet de la demande</h4>
                        <div class="" style="padding: 2%; width: 100%">
                            {{ form_errors(form) }}
                            {{ form_start(form) }}
                            <span class="pull-left">{{ form_label(form.user, "Nom du traiteur", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(form.user, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                            <br>
                            <span class="pull-left">{{ form_label(form.demande, "Objet de la demande", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(form.demande, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                            <br>
                            <span class="pull-left">{{ form_label(form.motif, "Motif du rejet", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(form.motif, {'attr':{'class':'form-control', 'placeholder': 'Ex: Demande mal formulée, Merci de bien vouloir la reformuler.'}}) }}
                            <br>
                            <span class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>rejet</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                            <br>
                            <hr>
                            <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                            <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div id="planif-modal" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>×</span><span class="sr-only">Close</span>
                    </button>
                    <div class="panel panel-custom">
                        <h4 style="background: green" class="custom-modal-title panel-title text-center">Formulaire de planification d'une demande</h4>
                        <div class="" style="padding: 2%; width: 100%">
                            {{ form_errors(formPlanif) }}
                            {{ form_start(formPlanif) }}
                            <span class="pull-left">{{ form_label(formPlanif.user, "Nom du traiteur", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formPlanif.user, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                            <br>
                            <span class="pull-left">{{ form_label(formPlanif.demande, "Objet de la demande", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formPlanif.demande, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                            <br>
                            <h3 class="panel-title"><b><u>INFORMATIONS SUR LA GESTION</u></b></h3>
                            <span class="pull-left">{{ form_label(formPlanif.gerant, "La demande sera gérer par", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formPlanif.gerant, {'attr':{'class':'form-control btn btn-custom btn-purple text-uppercase gerant'}}) }}
                            <br>
                            <br>
                            <span class="pull-left">{{ form_label(formPlanif.duree, "Durée de la gestion", {'attr':{'class':'pull-left'}}) }}</span>
                            <br>
                            <div class="input-group pull-left" style="margin-bottom: 5%">
                                {{ form_widget(formPlanif.duree, {'attr':{'class':'form-control', 'min':'0'}}) }}
                                <span class="input-group-addon" id="basic-addon1">Jours</span>
                            </div>
                            <span style="margin-bottom: 5%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>Planification</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                            <hr>
                            <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                            <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                            {{ form_end(formPlanif) }}
                        </div>
                    </div>
                </div>

                <div id="projet-modal" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>×</span><span class="sr-only">Close</span>
                    </button>
                    <div class="panel panel-custom">
                        <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Formulaire d'intégration d'une demande à un projet</h4>
                        <div class="" style="padding: 2%; width: 100%">
                            {{ form_errors(formProjet) }}
                            {{ form_start(formProjet) }}
                            <span class="pull-left">{{ form_label(formProjet.user, "Nom du traiteur", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formProjet.user, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                            <br>
                            <span class="pull-left">{{ form_label(formProjet.demande, "Objet de la demande", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formProjet.demande, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                            <br>
                            <h3 class="panel-title"><b><u>INFORMATIONS SUR LA GESTION</u></b></h3>
                            <span class="pull-left">{{ form_label(formProjet.chefProjet, "Le chef de projet", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formProjet.chefProjet, {'attr':{'class':'form-control btn btn-custom btn-purple text-uppercase'}}) }}
                            <br>
                            <br>
                            <span class="pull-left">{{ form_label(formProjet.code, "Code du projet", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formProjet.code, {'attr':{'class':'form-control pull-left'}}) }}
                            <br>
                            <br>
                            <span class="pull-left" style="margin-top: 3%">{{ form_label(formProjet.libele, "Libele du projet", {'attr':{'class':'pull-left'}}) }}</span>
                            {{ form_widget(formProjet.libele, {'attr':{'class':'form-control pull-left'}}) }}

                            <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>Integration au projet</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                            <hr>
                            <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                            <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                            {{ form_end(formProjet) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="abandon-modal" class="modal-demo">
                <button type="button" class="close" onclick="Custombox.close();">
                    <span>×</span><span class="sr-only">Close</span>
                </button>
                <div class="panel panel-custom">
                    <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Confirmation de l'abandon d'une demande</h4>
                    <div class="" style="padding: 2%; width: 100%">
                        <h1 class="panel-title"><b>Confirmer l'abandon ?</b></h1>
                        <br>
                        <br>
                        <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>Abandon</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                        <hr>
                        <a class="btn btn-custom btn-primary pull-left" href="{{path('demande_abandonNew', {'id': demande.id})}}">Valider</a>
                        <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('[name="demandebundle_rejet"]').attr('action', '{{path('rejet_new', {'id': demande.id})}}');
            $('[name="demandebundle_planif"]').attr('action', '{{path('planif_new', {'id': demande.id})}}');
            $('[name="demandebundle_integration"]').attr('action', '{{path('integration_new', {'id': demande.id})}}');
            $('.gerant').load('{{path('planif_traiteur')}}');
        </script>
    {% endif %}
    <div class="col-md-12" style="margin-bottom: 8%">
        <b> <a class="pull-left" style="margin-left: 10px" href="{{ path('demande_index') }}">Retourner à la liste</a></b>
    </div>
</div>


{#
<ul>
<li>
<a href="{{ path('demande_index') }}">Back to the list</a>
</li>
<li>
<a href="{{ path('demande_edit', { 'id': demande.id }) }}">Edit</a>
</li>
<li>
{{ form_start(delete_form) }}
<input type="submit" value="Delete">
{{ form_end(delete_form) }}
</li>
</ul>
#}
{% endblock %}
