{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 10px">
        <div class="panel panel-border panel-custom" style="background: #ebeff2">
            <header class="panel-heading">
                <h1 class="panel-title">Détail sur la demande: <b class="btn btn-purple">GDUT#{{ demande.id }}</b></h1>
            </header>
        </div>
        <table class="table table-hover table-striped panel panel-primary" style="font-size: 16px;">
            <tbody>
                <tr>
                    <td>Etat</td>
                    <td>
                        {% if demande.traitement == '1' %}
                            <label class="label label-success">Traitement terminé</label>
                        {% elseif demande.traitement == '2' %}
                            <label class="label label-warning">En cours de traitement</label>
                            {% if app.user.level.rightToken != "ROLE_DEMANDEUR" %}
                                <a href="#fin-modal" class="label label-success waves-effect waves-light" data-animation="slide" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Cliquez pour terminer</a>
                                <div id="fin-modal" class="modal-demo">
                                    <button type="button" class="close" onclick="Custombox.close();">
                                        <span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    <div class="panel panel-custom">
                                        <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Confirmation de la fin de traitement d'une demande</h4>
                                        <div class="" style="padding: 2%; width: 100%">
                                            <h1 class="panel-title"><b>Confirmer la fin du traitement de la demande ?</b></h1>
                                            <br>
                                            <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de <b> la fin de traitement</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                                            <hr>
                                            <a class="btn btn-custom btn-primary pull-left" href="{{path('demande_finir', {'id': demande.id})}}">Valider</a>
                                            <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% elseif demande.traitement == '0'%}
                            <label class="label label-danger">Traitement non débuté</label>
                            {% if app.user.level.rightToken != "ROLE_DEMANDEUR" %}|
                                <a href="#fin-modal" class="label label-success waves-effect waves-light" data-animation="slide" data-plugin="custommodal" data-overlayspeed="100" data-overlaycolor="#36404a">Cliquez pour débuter</a>
                                <div id="fin-modal" class="modal-demo">
                                    <button type="button" class="close" onclick="Custombox.close();">
                                        <span>×</span><span class="sr-only">Close</span>
                                    </button>
                                    <div class="panel panel-custom">
                                        <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Confirmation du début de traitement d'une demande</h4>
                                        <div class="" style="padding: 2%; width: 100%">
                                            <h1 class="panel-title"><b>Confirmer le début du traitement de la demande ?</b></h1>
                                            <br>
                                            <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer du <b> début de traitement</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                                            <hr>
                                            <a class="btn btn-custom btn-primary pull-left" href="{{path('demande_start', {'id': demande.id})}}">Valider</a>
                                            <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Client</td>
                    <td>{{ demande.user.entreprise }}</td>
                </tr>
                <tr>
                    <td>Demande créé le</td>
                    <td>{{ demande.dateEnvoie | date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Demande affecté à</td>
                    <td class="text-custom"><b>{{ demande.gerant | upper}}</b></td>
                </tr>
                <tr>
                    <td>Libele</td>
                    <td>{{ demande.libele }}</td>
                </tr>
                <tr>
                    <td>Type de demande</td>
                    <td>{{ demande.type }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ demande.description }}</td>
                </tr>
                <tr>
                    <td>Application concernée</td>
                    <td>
                        Nom: <b>{{ demande.application }}</b>
                        <br>
                        Catégorie: <b>{{ demande.application.categorie }}</b>
                        <br>
                        Description: {{ demande.application.description }}
                    </td>
                </tr>
                <tr>
                    <td>Module de l'application</td>
                    <td>{{ demande.module }} ({{ demande.module.description }})</td>
                </tr>
                <tr>
                    <td>Niveau d'urgence</td>
                    <td>{{ demande.niveauUrgence }}</td>
                </tr>

                <tr>
                    <td>Fichier joint</td>
                    <td>
                        {% if demande.fichier != '' %}
                            <a target="blank" href="{{asset('Uploads/Fichier/'~demande.fichier)}}"><i class="fa fa-download"> </i> {{demande.fichier}}</a></span>
                        {% else %}
                            Aucun
                        {% endif %}
                    </td>
                </tr>
                {% if rejet != '' %}
                    <tr>
                        <td>Etat de traitement : <b style="color: red">Réjetée</b></td>
                        <td>
                <u style='color: lightcoral'>Motif:</u>
                <br>
                {{ rejet }}
                </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a  style="" class="btn btn-success col-md-4 col-md-offset-4" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-commenting"></i> {{comments | length }} commentaires associé(s)
        </a>
        <br>
        <div class="col-md-8 col-md-offset-2" style=" margin-bottom: 20px; background: transparent; padding: 5px">
            <div class="collapse" id="collapseExample">
                <div style="overflow:scroll; max-height:400px;" class="">
                    <table class="table table-striped">
                        <thead class="hidden">
                            <tr>
                                <th>Nom</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>
                                        <p style="font-size: 16px;
                                           font-family: ubuntu;
                                           color: rgba(75, 0, 130, 0.82)
                                           "><i class="fa fa-commenting"></i> {{comment}}</p>
                                        <div class="pull-right" style="color: lightseagreen; font-family: ubuntu">
                                            {% if comment.fichier != '' %}
                                                <a target="blank" href="{{asset('Uploads/Fichier/'~comment.fichier)}}"><i class="fa fa-paperclip"> </i> {{comment.fichier}}</a></span>
                                            {% else %}

                                            {% endif %}
                                            <br>
                                            <span style="color: lightslategrey; font-family: ubuntu">{{comment.user}}, le {{comment.dateEnvoie | date('d/m/Y')}}</span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel panel-border panel-custom" style="background: #ebeff2">
        <header class="panel-heading">
            <h1 class="panel-title">Options de Traitement de la demande</h1>
        </header>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.level.rightToken == "ROLE_ADMIN" %}
                    {% include 'optionTrait/admin.html.twig' %}
                {% elseif app.user.level.rightToken == "ROLE_TRAITEUR"%}
                    {% include 'optionTrait/traiteur.html.twig' %}
                {% else%}
                    {% include 'optionTrait/demandeur.html.twig' %}
                {% endif %}
            {% endif %}
        </div>
        <div id="rejet-modal" class="modal-demo" style="font-family: 15px;">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <div class="panel panel-custom">
                <h4 style="background: blueviolet" class="custom-modal-title panel-title text-center">Formulaire du rejet de la demande</h4>
                <div class="" style="padding: 2%; width: 100%">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    <span class="pull-left">{{ form_label(form.user, "Le rejeteur", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(form.user, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                    <br>
                    <span class="pull-left">{{ form_label(form.demande, "Objet de la demande", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(form.demande, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                    <br>
                    <span class="pull-left">{{ form_label(form.motif, "Motif du rejet", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(form.motif, {'attr':{'class':'form-control', 'placeholder': 'Ex: Demande mal formulée, Merci de bien vouloir la reformuler.'}}) }}
                    <br>
                    <span class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>rejet</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                    <br>
                    <hr>
                    <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                    <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div id="planif-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <div class="panel panel-custom">
                <h4 style="background: green" class="custom-modal-title panel-title text-center">Formulaire de reponse à une demande</h4>
                <div class="" style="padding: 2%; width: 100%">
                    {{ form_errors(formReponse) }}
                    {{ form_start(formReponse) }}
                    <span class="pull-left">{{ form_label(formReponse.user, "Utilisateur", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(formReponse.user, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                    <br>
                    <span class="pull-left">{{ form_label(formReponse.demande, "Libelé de la demande", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(formReponse.demande, {'attr':{'class':'form-control', 'disabled':'disabled'}}) }}
                    <hr>
                    <span class="pull-left">{{ form_label(formReponse.texte, "Votre commentaire", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(formReponse.texte, {'attr':{'class':'form-control', 'placeholder': 'Contenu de votre réponse.'}}) }}
                    <br>
                    <span class="pull-left">{{ form_label(formReponse.fichier, "Joindre un fichier", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(formReponse.fichier, {'attr':{'class':'form-control'}}) }}

                    <hr>
                    <span style="margin-bottom: 5%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>Réponse</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                    <hr>
                    <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                    <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                    {{ form_end(formReponse) }}
                </div>
            </div>
        </div>

        <div id="affect-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <div class="panel panel-custom">
                <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Formulaire d'affectation d'une demande à un traiteur</h4>
                <div class="" style="padding: 2%; width: 100%">
                    {{ form_errors(affectForm) }}
                    {{ form_start(affectForm) }}
                    <span class="pull-left">{{ form_label(affectForm.gerant, "Nom du traiteur", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(affectForm.gerant, {'attr':{'class':'form-control btn btn-custom btn-purple', 'style': 'font-size: 17px; text-tra'}}) }}
                    <br>
                    <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé au <span class="alert-success">traiteur</span> pour lui informer de votre <b>affectation de la demande</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                    <hr>
                    <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                    <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                    {{ form_end(affectForm) }}
                </div>
            </div>
        </div>

        <div id="transfert-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <div class="panel panel-custom">
                <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Formulaire de transfert d'une demande à un autre traiteur</h4>
                <div class="" style="padding: 2%; width: 100%">
                    {{ form_errors(transfertForm) }}
                    {{ form_start(transfertForm) }}
                    <span class="pull-left">{{ form_label(transfertForm.gerant, "Nom du futur traiteur", {'attr':{'class':'pull-left'}}) }}</span>
                    {{ form_widget(transfertForm.gerant, {'attr':{'class':'form-control btn btn-custom btn-purple', 'style': 'font-size: 17px; text-tra'}}) }}
                    <br>
                    <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé au <span class="alert-success">nouveau traiteur</span> pour lui informer de votre <b>Transfert</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                    <hr>
                    <input type="submit" class="btn btn-custom btn-primary pull-left" value="Valider">
                    <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
                    {{ form_end(transfertForm) }}
                </div>
            </div>
        </div>
    </div>
    <div id="abandon-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>×</span><span class="sr-only">Close</span>
        </button>
        <div class="panel panel-custom">
            <h4 style="background: #6666ff" class="custom-modal-title panel-title text-center">Confirmation de l'abandon d'une demande</h4>
            <div class="" style="padding: 2%; width: 100%">
                <h1 class="panel-title"><b>Confirmer l'abandon ?</b></h1>
                <br>
                <br>
                <span style="margin-bottom: 5%; margin-top: 3%" class="pull-left">Un mail sera envoyé à <span class="alert-success">{{demande.user.email}}</span> pour lui informer de votre <b>Abandon</b> et une copie du mail à votre service support pour <b>archivage.</b></span>
                <hr>
                <a class="btn btn-custom btn-primary pull-left" href="{{path('demande_abandonNew', {'id': demande.id})}}">Valider</a>
                <a class="btn btn-custom btn-danger" onclick="Custombox.close();">Annuler</a>
            </div>
        </div>
    </div>
</div>
<script>
    var fichier = document.getElementById('demandebundle_reponse_fichier');
    fichier.name = 'fichier';

    $('[name="demandebundle_rejet"]').attr('action', '{{path('rejet_new', {'id': demande.id})}}');
    $('[name="demandebundle_reponse"]').attr('action', '{{path('reponse_new', {'id': demande.id})}}');
    {#$('[name="demandebundle_integration"]').attr('action', '{{path('integration_new', {'id': demande.id})}}');#}
    {#$('.gerant').load('{{path('planif_traiteur')}}');#}
</script>
<div class="col-md-12" style="margin-bottom: 8%">
    <br>
    {#<b> <a class="" style="margin-left: 40px" href="{{ path('demande_index') }}">Retourner à la liste</a></b>#}
</div>
</div>

{% if trait == 'Refuse'%}
    <script>
        alert("Impossible de commencer le traitement si la demande n'est affecté à personne pour gestion.\nRenseignez un traiteur et recommencez.");
    </script>
{% endif %}

{#
<ul>
<li>
<a href="{{ path('demande_index') }}">Back to the list</a>
</li>
<li>
<a href="{{ path('demande_edit', { 'id': demande.id }) }}">Edit</a>
</li>
<li>
{{ form_start(delete_form) }}
<input type="submit" value="Delete">
{{ form_end(delete_form) }}
</li>
</ul>
#}
{% endblock %}
