{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <br>
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste des types de demandes </b></h3>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">

                        {% for objet in typeDemandes %}

                            <fieldset class="col-md-12" style="background: transparent">
                                <legend class="col-md-12 btn btn-custom btn-purple" style="cursor: default;">
                                    <span class="pull-left"><span class="panel-title"> {{ objet.nom }}</span></span><span onclick="detailler({{objet.id}})" class="ubuntu_{{objet.id}} pull-right btn btn-purple glyphicon glyphicon-plus-sign"></span>
                                </legend>
                                <span class="text-primary">Total: {{objet.listDemandes | length }} demande(s) trouvées. </span>
                                <br>
                                <br>
                                <div class="col-md-12 hide appDemande_{{objet.id}}">
                                    <div class="demandes">
                                        <table  class="records_list table table-hover panel panel-inverse panel-purple table-bordered table-striped">
                                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                                                <tr>
                                                    <th class="">N<u>°</u></th>
                                            <th class="">Détail</th>
                                            <th class="">Ticket</th>
                                            <th class="">Date envoie</th>
                                            <th class="">Entreprise</th>
                                            <th class="">Objet</th>
                                            <th class="">Application</th>
                                            <th class="">Niveau d'urgence</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% set num = 0 %}
                                                {% for demande in objet.listDemandes %}
                                                    {% set num = num+1 %}
                                                    <tr>
                                                        <td>{{num}}</td>
                                                        <td class="">
                                                            <a class="text-purple" href="{{ path('demande_show', { 'id': demande.id }) }}"><i class="fa fa-list"></i> Voir</a>
                                                        </td>
                                                        <td class="text-custom"><b>GDUT#{{ demande.id}}</b></td>
                                                        <td>{{ demande.dateEnvoie | date('D, d-M-Y') }}</td>
                                                        <td>{{ demande.user.entreprise }}</td>
                                                        <td>{{ demande.libele }}</td>
                                                        <td>{{ demande.application }}</td>
                                                        <td>{{ demande.niveauUrgence }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script>
            function detailler(id) {

                if ($('.appDemande_' + id).hasClass('hide')) {
                    $('.appDemande_' + id).removeClass('hide');
                    $('.ubuntu_' + id).removeClass('glyphicon-plus-sign');
                    $('.ubuntu_' + id).addClass('glyphicon-minus-sign');

                } else {
                    $('.appDemande_' + id).addClass('hide');
                    $('.ubuntu_' + id).addClass('glyphicon-plus-sign');
                    $('.ubuntu_' + id).removeClass('glyphicon-minus-sign');
                }
            }
            $(document).ready(function () {
                $('#datatable-responsive').DataTable();
                TableManageButtons.init();
            });
        </script>
    </div>
{% endblock %}
{# empty Twig template #}
