{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <br>
                    <h3 class="text-center" style="color: white; background: #7e57c2;">Liste des demandes de l'application<b style="color: #2b0b3d"> {{application}} </b></h3>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel panel-inverse panel-purple table-bordered table-striped" id="datatable">
                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Ticket</th>
                                    <th class="" style="color: blue; font-weight: unset;">Créé par</th>
                                    <th class="" style="color: blue; font-weight: unset;">Crée le</th>
                                    <th class="" style="color: blue; font-weight: unset;">Client</th>
                                    <th class="" style="color: blue; font-weight: unset;">Objet</th>
                                    <th class="" style="color: blue; font-weight: unset;">Application</th>
                                    <th class="" style="color: blue; font-weight: unset;">Niveau d'urgence</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set num = 0 %}
                                {% for demande in application.listDemandes %}
                                    {% set num = num+1 %}
                                    <tr>
                                        <td class="">
                                            <a class="text-purple" href="{{ path('demande_show', { 'id': demande.id }) }}"><b class="btn btn-custom btn-purple">GDUT#{{ demande.id}}</b></a>
                                        </td>
                                        <td>{{ demande.user }}</td>
                                        <td>{{ demande.dateEnvoie | date('d-m-Y') }}</td>
                                        <td>{{ demande.user.entreprise }}</td>
                                        <td>{{ demande.libele }}</td>
                                        <td>{{ demande.application }}</td>
                                        <td>{{ demande.niveauUrgence }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script>
            function detailler(id) {

                if ($('.appDemande_' + id).hasClass('hide')) {
                    $('.appDemande_' + id).removeClass('hide');
                    $('.ubuntu_' + id).removeClass('glyphicon-plus-sign');
                    $('.ubuntu_' + id).addClass('glyphicon-minus-sign');

                } else {
                    $('.appDemande_' + id).addClass('hide');
                    $('.ubuntu_' + id).addClass('glyphicon-plus-sign');
                    $('.ubuntu_' + id).removeClass('glyphicon-minus-sign');
                }
            }
            $(document).ready(function () {
                $('#datatable-responsive').DataTable();
                TableManageButtons.init();
            });
        </script>
    </div>
{% endblock %}
{# empty Twig template #}
